[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
evaluate = "*"
transformers = "*"
mlflow = "*"
datasets = "*"
peft = "*"
trl = "*"
bitsandbytes = "*"
gradio = "*"
prefect = "*"
pypdf = "*"
boto3 = "*"
python-dotenv = "*"

[dev-packages]
ipykernel = "*"
nltk = "*"
localstack = "*"
terraform-local = "*"
awscli-local = {extras = ["ver1"], version = "*"}
pre-commit = "*"

[requires]
python_version = "3.10"
